* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p::selection {
    background: transparent;

}

.todo {
    background: #494949;
    width: 100%;
    height: 100%;
    position: absolute;
}

.puntos {
    background: #969696;
    width: fit-content;
    padding: 10px 20px;
    margin: 10px;
}

.puntos_Internos {
    color: #fff;
    display: inline-block;

}

.puntos_Totales {
    color: #fff;
    display: inline-block;
}

.simon_Verde,
.simon_Azul,
.simon_Amarillo,
.simon_Rojo {
    width: 200px;
    height: 200px;
    /* transition: all ease .3s; */
    margin: 5px;
}

.simon_Verde:hover,
.simon_Azul:hover,
.simon_Amarillo:hover,
.simon_Rojo:hover {
    width: 200px;
    height: 200px;
    filter: grayscale(.5);
    border: 2px solid #fff;
    transition: all ease .3s;
    margin: 5px;
}

.simon_Verde {
    background: #01ff01;
    position: absolute;
    top: 10px;
    left: 34.5%;
    border-radius: 100% 0 0 0;
}

.simon_Azul {
    background: #0084ff;
    position: absolute;
    top: 10px;
    left: 50.5%;
    border-radius: 0 100% 0 0;
}

.simon_Amarillo {
    background: yellow;
    position: absolute;
    bottom: 10px;
    left: 34.5%;
    border-radius: 0 0 0 100%;
}

.simon_Rojo {
    background: red;
    position: absolute;
    bottom: 10px;
    left: 50.5%;
    border-radius: 0 0 100% 0;
}

.sinclick_v {
    background: #01ff01;
    position: absolute;
    top: 10px;
    left: 34.5%;
    border-radius: 100% 0 0 0;
}

.sinclick_a {
    background: #0084ff;
    position: absolute;
    top: 10px;
    left: 50.5%;
    border-radius: 0 100% 0 0;
}

.sinclick_am {
    background: yellow;
    position: absolute;
    bottom: 10px;
    left: 34.5%;
    border-radius: 0 0 0 100%;
}

.sinclick_r {
    background: red;
    position: absolute;
    bottom: 10px;
    left: 50.5%;
    border-radius: 0 0 100% 0;
}

.simon {
    /* background: #000; */
    /* width: fit-content; */
    position: absolute;
    width: 100%;
    height: 450px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.iniciar {
    background: #fff;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}

.perdiste {
    background: #ffffff6e;
    color: #fff;
    height: 450px;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
}

.none {
    display: none;
}

.bloqueo {
    width: 100%;
    height: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}